<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    Il Ristorante de Ricardo della Noche
  </span>
</nav>

<div class="wrapper">
  <div class="container">
    <button class="presentation-button">Presentation</button>
    <button class="menu-button">Menu</button>
    <button class="reference-button">References</button>
    <div class="tabs presentation-tab">Presentation stuff</div>
    <div class="tabs menu-tab">Menu sutff</div>
    <div class="tabs reference-tab">Made by THP Grenoble</div>
  </div>
</div>
