<%= render 'layouts/navbar' %>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <%= render 'layouts/tabs' %>
    </div>
    <%= render 'layouts/carousel' %>
  </div>
</div>

<%= render 'layouts/footer' %>
