<div class="carousel">

  <button class="arrows previous">
    <i class="far fa-arrow-alt-circle-left"></i>
  </button>
  <button class="arrows next">
    <i class="far fa-arrow-alt-circle-right"></i>
  </button>

  <div class="food-pics">
    <img value="1" class="carousel-image" src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    <img value="2" class="carousel-image" src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    <img value="3" class="carousel-image" src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    <img value="4" class="carousel-image" src="https://images.pexels.com/photos/262918/pexels-photo-262918.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    <img value="5" class="carousel-image" src="https://images.pexels.com/photos/793785/pexels-photo-793785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  </div>
</div>

<div class="image-nav">
  <button value="1" class="image-dot">
    <i class="fa fa-circle"></i>
  </button>
  <button value="2" class="image-dot active-dot">
    <i class="fa fa-circle"></i>
  </button>
  <button value="3" class="image-dot">
    <i class="fa fa-circle"></i>
  </button>
  <button value="4" class="image-dot">
    <i class="fa fa-circle"></i>
  </button>
  <button value="5" class="image-dot">
    <i class="fa fa-circle"></i>
  </button>
</div>
