<div class="tabs-box col-xs-6 col-sm-6 col-md-12">
  <div class="tab-btns">
    <button class="presentation-btn tab-btn">Presentation</button>
    <button class="menu-btn tab-btn">Menu</button>
    <button class="reference-btn tab-btn">References</button>
  </div>
  <div class="tabs presentation-tab">
    <p>
      <img
        class="bocuse"
        src="http://cdn.programme-television.org/var/premiere/storage/images/tele-7-jours/news-tv/deprogrammation-tv-en-famille-laisse-sa-place-a-l-hommage-a-paul-bocuse-sur-m6-4557344/94012244-1-fre-FR/Deprogrammation-TV-En-famille-laisse-sa-place-a-l-hommage-a-Paul-Bocuse-sur-M6_news_full.jpg">
      <br><br>
      <strong>Ici, on fait v'la la bonne bouffe</strong><br>
      <i>-Paul Bocuse</i>
    </p>
  </div>
  <div class="tabs menu-tab">
    <ul>
      <h2>Menu du jour</h2>
      <li>Kebab sauce samouraï/harissa, salade, tomates, oignons:
        <strong>4.50€</strong>
      </li>
      <li>Le Cabillaud Aux Algues, Beurre aux zestes de citron vert:
        <strong>140€</strong>
      </li>
      <li>Le Steak Haché Frites du Chef:
        <strong>120€</strong>
      </li>
      <li>La moule (et frites) de la femme du chef:
        <strong>240€</strong>
      </li>
    </ul>
  </div>
  <div class="tabs reference-tab">
    Made by THP Grenoble,
    <strong>great success.</strong><br>
    <img src="http://beta.ems.ladbiblegroup.com/s3/content/808x455/4ddb2ca75ab53cc5ab2a33c8f2113534.png">
  </div>
</div>
